[submodule "plugins/joinlog"]
	path = plugins/joinlog
	url = https://github.com/saurusmc-plugins/joinlog
[submodule "plugins/jointitle"]
	path = plugins/jointitle
	url = https://github.com/saurusmc-plugins/jointitle
[submodule "plugins/titlepinger"]
	path = plugins/titlepinger
	url = https://github.com/saurusmc-plugins/titlepinger
[submodule "plugins/remotecmd"]
	path = plugins/remotecmd
	url = https://github.com/saurusmc-plugins/remotecmd
